:root {
  --numCol: 11;
}

body {
  background-color: #96A8C8;
  font-size: 16px;
  font-variant: small-caps;
  font-family: Lucida, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.bigWrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(20, 50px);
  grid-template-rows: repeat(5, 50px);
}

.topWrapper {
  grid-column: var(--numCol);
  grid-row: 1/10;
  width: 780px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

.nav {
  background-color: #FFF;
  border: 2px solid #333;
  width: 150px;
  float: left;
  position: relative;
  text-align: left;
  padding: 17px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.nav a {
  text-decoration: none;
  color: #282B30;
  font-size: 21px;
  font-weight: 800;
}

.nav a:hover {
  text-decoration: underline;
}

.navList {
  margin: 0;
  list-style-type: none;
}

.header {
  background: #FFF;
  width: 550px;
  border: 2px solid #333;
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 30px;
  margin-left: 5px;
  float: right;
  position: relative;
  text-align: left;
  line-height: 150%;
}

.header a {
  color: #6E7B91;
  font-size: 18px;
  font-weight: 600;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.content {
  grid-column: var(--numCol);
  grid-row: 10/12;
  background: #FFF;
  width: 780px;
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 12px;
  text-align: center;
}

.content button {
  background-color: #6E7B91;
  color: #FFF;
  border: 1.5px solid #333;
  font-size: 16px;
  font-weight: 600;
  padding: 1.5px 12px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px 0 gray;
  -moz-box-shadow: 0 0 5px 0 gray;
  -webkit-box-shadow: 0 0 5px 0 gray;
}

.footer {
  grid-column: var(--numCol);
  grid-row: 12;
  background: #FFF;
  width: 750px;
  border: 2px solid #333;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  padding: 25px 15px;
}

.footer a {
  color: #6E7B91;
  font-size: 18px;
  font-weight: 600;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.footer a:hover {
  background-color: #FFF;
  color: #6E7B91;
  text-decoration: underline;
}

#logo {
  float: left;
}

#slogan {
  float: right;
  padding: 20px;
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
  vertical-align: top;
}

#comicLinks {
  display: block;
  margin: auto;
  width: 300px;
}

#footText {
  clear: both;
  font-size: 6px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#licenseText {
  display: block;
  margin: auto;
  width: 410px;
}

#ctitle {
  margin: 10px;
  font-size: 21px;
  font-weight: 800;
}
